
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


@import "./main/bootstrap.min";
@import "./main/animate.min";
@import "./main/bootstrap-progressbar.min";
@import "./main/owl.carousel.min";
@import "./main/typography";
@import "./main/default";
@import "./main/style";
@import "./main/responsive";
@import "./main/font-awesome.min";
