/*
 Project Name : Vinte
 Author: NhatThemes
 Project Date: 02-11-2016
 Author Website : http://nhatthemes.com/
 */

.menu-bar,
.navbar-default .nav li.active a,
.logo-area .text-logo,
.section-title p,
.navbar-default .nav li .dropdown-menu li.active a,
.mobile-menu-area .mobile-menu li.active a,
.work-filter ul li.active,
.top-icon-box .icon,
.team-social li a,
.news-block .date,
.news-block .name span,
.news-block .comments,
.vinte-pagination .pagination li a:hover,
.blog-detail .main-heading h2 span{
    color: #05B4E9;
}

.btn-fill,
a.btn-fill,
.btn-outline:hover,
a.btn-outline:hover,
.work-items .isotope .item .caption a:hover{
    border-color: #05B4E9;
    background: #05B4E9;
}
.btn-fill:hover,
a.btn-fill:hover {
    border-color: #05B4E9;
    color: #05B4E9 !important;
}
.btn-outline,
a.btn-outline,
.blog-detail .reply-button .btn,
.blog-detail .comment-form .form-group .btn{
    border-color: #05B4E9;
    color: #05B4E9;
}

.awards-area-footer,
.skills-area-footer,
.history-center,
.hobby-center,
.education-area-footer,
.experience-area-footer,
.social-icon-area .social-icon li a:after,
.hero-footer-content:after,
.info-dot:after,
.er404-header-area{
    background: #05B4E9;
}
a:hover, a:active, a:focus{
    color: #05B4E9!important;
}
.progress-bar-warning,
.vinte-pagination .pagination li a:hover,
.comment .comment-item .reply-button::after{
    background-color: #05B4E9;
}
.team-member .caption-lg{
    background: rgba(5,180,233,0.8);
}
