/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Header Section */
    .desktop-header {
        display: none;
    }
    .mobile-header {
        display: block;
    }
    /* Hero Section */
    .hero-area {
        background-position: center;
    }
    .caption-content .greetings {
        font-size: 90px;
        margin-bottom: 30px;
    }
    .caption-content .lead,
    .caption-content .lead span {
        font-size: 60px;
    }
    .caption-content .sublead {
        font-size: 36px;
    }
    /* About Page */
    .about-area:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.8;
        z-index: -1;
        top: 0px;
        left: 0px;
        bottom: 0px;
    }
    .about-info {
        margin-bottom: 30px;
    }
    .about-area-content .info li {
        padding-left: 0px;
    }
    .about-footer-area .social-icon-area .social-icon {
        margin-bottom: 30px;
    }
    .about-footer-area .resume-btn {
        text-align: left;
    }
    /* Skills Page */
    .skills-area {
        padding-top: 100px;
    }
    .skills-area:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.9;
        z-index: -1;
        top: 0px;
        left: 0px;
        bottom: 0px;
    }
    .skills-info-area {
        margin: 0px;
        padding: 30px 0px;
    }
    .left-icon-box {
        margin: 15px 0px;
    }
    /* History And Hobby Area */
    .history-area:before, 
    .hobby-area:before {
        content: none;
    }
    /* Lazy Time Area */
    .lazy-area {
        padding-top: 100px;
    }
    .lazy-area:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.9;
        z-index: -1;
        top: 0px;
        left: 0px;
        bottom: 0px;
    }
    .top-icon-box {
        margin-bottom: 30px;
    }

    /* Team Area */
    .team-member {
        margin-bottom: 30px;
    }
    /*blog detail*/
    .news-block .news-info {
        padding: 20px 0;
    }
    .address-box-area{
        padding-bottom: 30px;
    }
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    /* General Section */
    .section-title {
        margin-bottom: 30px;
    }
    .about-area,
    .awards-area,
    .education-area,
    .experience-area,
    .history-area,
    .hobby-area,
    .skills-area,
    .lazy-area,
    .team-area,
    .work-area {
        padding-top: 100px;
    }
    /* Header Section */
    .desktop-header {
        display: none;
    }
    .mobile-header {
        display: block;
    }
    /* Hero Section */
    .caption-content {
        text-align: center;
    }
    .caption-content .greetings {
        font-size: 60px;
        margin-bottom: 30px;
    }
    .caption-content .lead,
    .caption-content .lead span {
        font-size: 32px;
    }
    .caption-content .sublead {
        font-size: 20px;
    }
    .hero-footer-content .info li .criteria {
        width: auto;
        margin-right: 10px;
    }
    .hero-footer-content .info li .criteria {
        font-style: italic;
        font-weight: 700;
    }
    .hero-footer-content .info li .desc {
        font-size: 14px;
    }

    /* About Page */
    .about-area:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.9;
        z-index: -1;
        top: 0px;
        left: 0px;
        bottom: 0px;
    }
    .about-area-content .info {
        margin-top: 30px;
    }
    .about-area-content .info li {
        padding-left: 0px;
    }
    .about-footer-area {
        margin-top: 30px;
    }
    .about-footer-area .social-icon-area .social-icon {
        margin-bottom: 30px;
    }
    .about-footer-area .resume-btn {
        text-align: left;
    }

    /* Skills Page */
    .skills-area {
        padding-top: 100px;
    }
    .skills-area:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.9;
        z-index: -1;
        top: 0px;
        left: 0px;
        bottom: 0px;
    }
    .skills-info-area {
        margin: 0px;
        padding: 30px 0px;
    }
    .left-icon-box {
        margin: 15px 0px;
    }

    /* History And Hobby Area */
    .history-area:before, 
    .hobby-area:before {
        content: none;
    }

    /* Lazy Time Area */
    .lazy-area:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.9;
        z-index: -1;
        top: 0px;
        left: 0px;
        bottom: 0px;
    }
    .top-icon-box {
        margin-bottom: 30px;
    }

    /* Team Area */
    
    .section-title-2 {
        text-align: left;
        margin-bottom: 60px;
    }
    .team-member {
        margin-bottom: 30px;
    }

    /* Work Area */
    .work-filter ul li {
        padding: 10px;
    }
    /*blog*/
    .news-inner > img{
        width: 100%;
    }
    .news-block .news-info{
        bottom: 0;
        left: 0;
        position: relative;
        right: 0;
    }
    .vinte-pagination .pagination > li {
        height: 40px!important;
        width: 40px!important;
    }
    .blog-detail-inner {
        display: inline-block;
        padding: 30px 15px;
    }
    .blog-detail .comment-item {
        padding: 0 15px!important;
    }
    .blog-detail .comment-item .commenter-image {
        display: block;
        float: none;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .blog-detail .comment .comment-text {
        padding-left: 0;
    }
    .blog-info {
        padding: 20px 0 0;
    }
    .address-box-area{
        padding-bottom: 30px;
    }
    .work-detail{
        padding-right: 15px;
        padding-left: 15px;
    }
    .work-detail img {
        margin-bottom: 30px;
    }
    .work-detail .pd-block h3 {
        font-size: 15px;
    }
    .work-detail .pd-block ul{
        padding: 0px;
    }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 481px) and (max-width: 767px) {}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {}

